html, body {

}

body {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: white;
  }

.chart-title {
    margin-top: 30px;
    text-transform: uppercase;
}

.chart-container {
    width: 1600px;
    border-radius: 15px;
    background: #5fadd1;
    border: 1px solid #e4e4e4;
}

.line-chart {
    stroke: white;
    color: white !important;
    fill: white !important;
}

.domain {
    stroke: white;
}

line {
    stroke: white;
}